{% extends "tigertravel/base.html" %}
{% block content %}
	<h1>Group Page </h1>
	<h2>FROM {{ object.origin }} TO {{ object.destination }} {{ object.date|date:"F d, Y" }}</h2>
	<p>Departure Timeframe: {{ object.start_time }} - {{ object.end_time }}</p>
	<p>Group: {% for member in object.members.all %} {{ member.name }} {% endfor %}</p>
	<p>Group: {% for member in object.members.all %} 
		<img id="{{ member.person.profile.get_display_id }}" class="rounded-circle account-img" src="{{ member.person.person.piclink }}">
		
	 {% endfor %}</p>
	<script type="text/javascript">
		document.getElementById('groups').classList.add('active');
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

	<form method="POST" class="validate-form">
		{% csrf_token %}
		<div class="row">
			<div class="col-md-6">
				<div class="form-group validate-input">
					<span class="form-label">Input Message Here</span>
					<input type="text" name="text" required id="id_text">
				</div>
			</div>
		</div>
		<div class="form-btn">
			<button class="submit-btn" type="submit">Submit Request &nbsp</button>
		</div>


	</form>
	<p>{{ object.text }}</p>
    
{% endblock content %}