{% extends "tigertravel/base.html" %}
{% block content %}
	<div id="booking" class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="booking-cta">
							<h1>TigerTravel</h1>
							<p>TigerTravel</p>
						</div>
					</div>
					<div class="col-md-7 col-md-offset-1">
						<div class="booking-form">
							<form method="POST">
								{% csrf_token %}
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<span class="form-label">From</span>
											<select class="form-control">
												<option value="PRINCETON">PRINCETON</option>
												<option value="EWR">EWR</option>
												<option value="JFK">JFK</option>
												<option value="PHL">PHL</option>
											</select>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<span class="form-label">To</span>
											<select class="form-control">
												<option value="PRINCETON">PRINCETON</option>
												<option value="EWR">EWR</option>
												<option value="JFK">JFK</option>
												<option value="PHL">PHL</option>
											</select>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<span class="form-label">Date</span>
											<input class="form-control" type="date" required>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<span class="form-label">Start Time</span>
											<input class="form-control" type="time" required>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<span class="form-label">End Time</span>
											<input class="form-control" type="time" required>
										</div>
									</div>
									
								</div>
								
								<div class="form-btn">
									<button class="submit-btn">Submit Request</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}