 {% load static %} 
 <!DOCTYPE html>
 <html lang="en">

 <head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" type="image/png" href="{% static 'tigertravel/images/icons/favicon.ico' %}"/>
  <title>Welcome to TigerTravel</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'login/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"> 

  <!-- Custom fonts for this template -->
  <link href="{% static 'login/vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css"> 
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="{% static 'login/css/landing-page.min.css' %}" rel="stylesheet"> 
  <style>
    @bg: #2d2d37; // Dark blue
    @primary: #fd6b21; // Orange

    body { background: @bg;}
    a { color: white; text-decoration: none; }

    .arrow {
      text-align: center;
      margin: 8% 0;
    }
    .bounce {
      -moz-animation: bounce 2s infinite;
      -webkit-animation: bounce 2s infinite;
      animation: bounce 3s infinite;
    }

    @keyframes bounce {
      0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-30px);
      }
      60% {
        transform: translateY(-15px);
      }
    }
  </style>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top" style = "position:fixed; top:0; width:100%; z-index: 100" >
    <div class="container">
      <a class="navbar-brand" href="{% url 'tigertravel-login' %}"><img style="   width: 200px;" src="{% static 'tigertravel/images/trans.png' %}" alt="Logo"></a>
      <a class="btn btn-primary" style="background-color:#ff8f00;border:none" href="{% url 'tigertravel-home' %}">Continue with CAS</a>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Welcome to TigerTravel!</h1>
        </div>
        <div class="col-md-6 col-lg-5 col-xl-4 mx-auto">
          <a class="btn btn-block btn-lg btn-primary" style="background-color:#ff8f00;border:none" href="{% url 'tigertravel-home' %}">Find Me Some Travellers &nbsp &nbsp<i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="arrow bounce">
        <a class="fa fa-arrow-down fa-2x" ></a>
      </div>
    </div>
  </header>

  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          	<div class="features-icons-icon d-flex">
              <i class="fas fa-user-circle m-auto" style="color:#ff8f00;"></i>
            </div>
            <h3>Automatic Account Creation</h3>
            <p class="lead mb-0">Access is verified through Princeton's Central Authentication Service and your account is created using TigerBook</p>
          </div>
           
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
             <div class="features-icons-icon d-flex">
              <i class="fas fa-car m-auto" style="color:#ff8f00;"></i>
            </div>
            <h3>Effortless Matching</h3>
            <p class="lead mb-0">Our algorithm will pair you with a group of up to 6 Princeton students going to the same location</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fas fa-check-circle m-auto" style="color:#ff8f00;"></i>
            </div>
            <h3>Easy to Use</h3>
            <p class="lead mb-0">Delete and resubmit trip requests whenever convenient and view profiles of your co-passengers with ease!</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- About -->
  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">Meet the Devs</h2>
      <div class="row">
        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{% static 'login/img/don.jpg' %}" alt="">
            <h5>Donovan Coronado</h5>
            <p class="font-weight-light mb-0">dtc2@princeton.edu </br> BSE Computer Science '21</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{% static 'login/img/shaurya.png' %}" alt="">
            <h5>Shaurya Garg</h5>
            <p class="font-weight-light mb-0">shaurya@princeton.edu </br> BSE Computer Science '21</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{% static 'login/img/jaehok.png' %}" alt="">
            <h5>Hanson Kang</h5>
            <p class="font-weight-light mb-0">jaehok@princeton.edu </br> BSE Computer Science '20</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{% static 'login/img/IMG_1878.jpg' %}" alt="">
            <h5>Bobby Morck</h5>
            <p class="font-weight-light mb-0">rmorck@princeton.edu </br> BSE Computer Science '21</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <p class="text-muted small mb-4 mb-lg-0">&copy; TigerTravel 2019. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
