

{% extends "tigertravel/base.html" %}

{% block content %}

<div class="container-contact100" style="background-image: url('../../static/tigertravel/images/orange5.png');">

	<div class="contact100-map" id="google_map" data-map-x="40.722047" data-map-y="-73.986422" data-pin="images/icons/map-marker.png" data-scrollwhell="0" data-draggable="1"></div>

	<div class="contact100-more" style="background-color: #ba5b12">

		TigerTravel

	</div>

	<div class="wrap-contact100">

		<form method="POST" class="contact100-form validate-form">

			{% csrf_token %}

				<div id="div_id_origin" class="wrap-input100 validate-input">

					<span class="label-input100">Origin</span>

					<select name="origin" class="input100" required id="id_origin">

						<option value="select">select one</option>

						<option value="EWR">EWR</option>

						<option value="JFK">JFK</option>

						<option value="PHL">PHL</option>

						<option value="PRINCETON">PRINCETON</option>

					</select>

					<span class="focus-input100"></span>

				</div>

				<div id="div_id_destination" class="wrap-input100 validate-input">

					<span class="label-input100">Destination</span>

					<select name="destination" class="input100" required id="id_destination">

						<option value="select">select one</option>

						<option value="EWR">EWR</option>

						<option value="JFK">JFK</option>

						<option value="PHL">PHL</option>

						<option value="PRINCETON">PRINCETON</option>

					</select>

					<span class="focus-input100"></span>

				</div>


				<div class="wrap-input100 validate-input">

					<span class="label-input100">Date</span>

					<input type="date" class="details-form" name="date" required id="id_date" placeholder="mm/dd/yyyy">

					<span class="focus-input100"></span>

				</div>

				<div class="wrap-input100 validate-input">

					<span class="label-input100">Times</span>

					<input type="time" class="details-form" name="start_time" required id="id_start_time">

					<span> &#8594; </span>

					<input type="time" class="details-form" name="end_time" required id="id_end_time">

					<span class="focus-input100"></span>

				</div>

				<div class="container-contact100-form-btn">

					<div class="wrap-contact100-form-btn">

						<div class="contact100-form-bgbtn"></div>

						<button class="contact100-form-btn" type="submit">

							Submit Request

						</button>

					</div>

				</div>

		</form>

	</div>

</div>

<script type="text/javascript">

	document.getElementById('home').classList.add('active');

</script>

{% endblock content %}