{% extends "tigertravel/base.html" %}
{% block content %}
	<div class="body">
		<div class="row">
			<div class="col-sm-8" id="left-column">
				<div class="container" id="left-container">
					<form method="POST">
						{% csrf_token %}
						<div class="row">
							<div class="col-sm-4">
								<div id="div_id_destination" class="form-group">
									<label for="id_destination" class="requiredField">Where to:</label>
									<select name="destination" required id="id_destination">
										<option value="select">select one</option>
										<option value="EWR">EWR</option>
									    <option value="JFK">JFK</option>
									    <option value="PHL">PHL</option>
									</select>
								</div>
								<div class="form-group">
									<label for="custom">Where to:</label>
									<input type="text" class="details-form" id="custom" placeholder="for custom query">
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group">
									<label for="id_date" class="requiredField">Date:</label>
									<input type="date" class="details-form" name="date" required id="id_date" placeholder="mm/dd/yyyy">
								</div>
								<div class="form-group">
									<button class="btn" type="submit" style="color: white;">Submit Request</button>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group">
									<label for="id_start_time" class="requiredField">Times:</label>
									<input type="time" class="details-form" name="start_time" required id="id_start_time">
									<span> &#8594; </span>
									<input type="time" class="details-form" name="end_time" required id="id_end_time">
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="col-sm-4" id="right-column">
				<div class="container" id="right-container">
					<div>
						<h3 class="right-header">Current Request</h3>
						<p>EWR Start - End mm/dd/yyyy</p>
					</div>
					<div>
						<h3 class="right-header">Current Group</h3>
						<p> Shaurya Garg: email@princeton.edu<br>
							Bobby Morck: email@princeton.edu<br>
							Hanson Kang: email@princeton.edu<br>
							Donovan Coronado: email@princeton.edu</p>
					</div>
				</div>
			</div>
		</div>
		<b> 
		TigerTravel <br>
		<br>
		Team Members: <br>
		Bobby Morck <br>
		Donovan Coronado <br>
		Shaurya Garg <br>
		Hanson Kang <br>
		<br>
		Team Leader: Bobby Morck <br>
		<br>
		Team Advisor: Lance Goodridge <br>
    	</b>
	</div>
{% endblock content %}