{% extends "tigertravel/base.html" %}
{% block content %}
	<div id="prof" class="content-section">
     
        <img class="rounded-circle account-img" src="https://tigerbook.herokuapp.com/images/name">
        <div class="media-body">
          <h2 class="account-heading">{{ user.person.name }}</h2>
          <p class="text-secondary">{{ user.person.email }}</p>
          <p class="text-secondary">{{ user.person.college }} College</p>
          {% for post in object_list %}
              {% if post.person == user %}
                <a class="btn" href="{% url 'request-delete' post.id %}">Delete</a>
                <h1>{{ post.name }}'s Trip on {{ post.date|date:"F d, Y" }}</h1>
                <p>Departure Timeframe: {{ post.start_time }} - {{ post.end_time }} to {{ post.destination }}</p>
                <p>Group {{ post.group_set.first.size}}</p>

        
              {% endif %}
          {% endfor %}
          {% for group in groups %}
            

          {% endfor %}
        
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
	var name= "{{ user.profile.get_display_id }}";
    $(function(){
       $('#prof').find('img').each(function(){
           var srcpath = $(this).attr('src');
           srcpath = srcpath.replace('name',name);
           $(this).attr('src',srcpath);
       });
    });
</script>
{% endblock content %}